.profile__overlay{
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(2,minmax(min-content, max-content));
    max-width: 120px;
    row-gap: 32px;
    cursor: pointer;
    margin:0 auto;
}

.profile__overlay:hover .profile__avatar {
    opacity:20%;
}

.profile__overlay:hover .profile__pen-pic {
    visibility: visible;
}