.popup__form{
    margin:0;
    max-width: 430px;
    background-color: white;
    align-self: center;
    position: relative;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 2;
}

@media screen and (max-width:550px){
    .popup__form{ 
        max-width: 282px;
    }
}