.popup__close-button{
    width:40px;
    height:40px;
    margin:0;
    padding:0;
    background-image: url(./../../../images/Close\ Icon.svg);
    background-size: cover;
    align-self: center;
    position: absolute;
    right:-40px;
    top:-40px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
}

.popup__close-button:hover{
    opacity: .6;
}

@media screen and (max-width:550px){
    .popup__close-button{ 
        width:26px;
        height:26px;
        right:0;
        top:-40px;
    }
}