.popup__description-input-error{
    margin: 5px 0 0 36px;
    font-size: 12px;
    line-height: 1.2;
    font-family:"Inter", 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    color: red;
    display: none;
}