.popup-place__form{
    margin:0;
    align-self: center;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 2;
}

@media screen and (max-width:550px){
    .popup-place__form{ 
        max-width: 282px;
    }
}